*{
  margin: 0;
  padding: 0;
}

.counter {
  margin: auto;
  background-color: beige;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid;
}

.add,.minuse{
  background-color: greenyellow;
  margin: 10px;
}